// Preprocessor dependencies
@import 'compass';

// Font face rules
@font-face {
	font-family: 'digit';
	src:
		url("../../font/digital-7__mono_.eot?") format("eot"),
		url("../../font/digital-7__mono_.woff") format("woff"),
		url("../../font/digital-7__mono_.ttf") format("truetype"),
		url("../../font/digital-7__mono_.svg#Digital-7Mono") format("svg");
	font-weight: bold;
	font-style: normal;
}

// Animation rules
@keyframes blink {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink {
	to {
		visibility: hidden;
	}
}

// Quick, easy and dirty reset :)
* {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
	height: 100%;
	overflow: hidden;
	font-size: 10px;
}
body {
	font-family: sans-serif;
	font-size: 1.6rem;
	color: #222;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// Key themes "abstraction" classes
%key-theme-primary {
	text-shadow: 0 1px 0 rgba(255,255,255, .75);
	background-color: #CFD8DC;
}
%key-theme-secondary {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0, .25);
	background-color: #727272;
}
%key-theme-highlight {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0, .25);
	background-color: #00BCD4;
}
%key-theme-warning {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0, .25);
	background-color: #E91E63;
}

// Main application styles
.app {
	overflow: hidden;
	display: flex;
	height: 100vh;
	flex-flow: column wrap;
	justify-content: space-between;
}

.calulator {
	flex: 1;
	display: flex;
	flex-flow: column wrap;
	align-items: stretch;
}
.calulator-screen {
	position: relative;
	text-align: right;
	height: 18vh;
	font: bold 7rem/1 'digit', monaco, monospace;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	border: 1px solid #fff;
	background-color: #444;
	box-shadow: inset -2px -2px rgba(0, 0, 0, 0.5);
	@media (max-height: 300px) {
		font-size: 4rem;
	}
	&:before {
		content: '888888888888888888888888888888888888888888888888888888';
		direction: rtl;
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 3rem;
		right: 3rem;
		transform: translateY(-50%);
		color: #4A4A4A;
	}
}

[data-status="wait"] {
	.result_cursor {
		display: inline;
	}
}

.result {
	position: absolute;
	top: 50%;
	left: 3rem;
	right: 3rem;
	overflow: auto;
	transform: translateY(-50%);
	-webkit-overflow-scrolling: touch;
}
.result_cursor {
	display: none;
	animation: blink 1s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
}

.calulator-keys {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	align-content: stretch;
	align-items: stretch;
	border-left: 1px solid #fff;
}
.calulator-key {
	box-sizing: border-box;
	position: relative;
	width: 25%;
	font: bold 4rem/1 monaco, monospace;
	letter-spacing: -2px;
	cursor: pointer;
	border: 1px solid #fff;
	border-width: 0 1px 1px 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	-webkit-tap-highlight-color: transparent;
	box-shadow: inset -2px -2px rgba(0, 0, 0, 0.3);
	&:active {
		box-shadow: inset 2px 2px rgba(0, 0, 0, 0.3);
		.key {
			margin-top: 2px;
			margin-left: 2px;
		}
	}
	@media (max-height: 300px) {
		font-size: 2rem;
	}
}
.key {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

[data-key="7"] { order: 0; @extend %key-theme-primary; }
[data-key="8"] { order: 1; @extend %key-theme-primary; }
[data-key="9"] { order: 2; @extend %key-theme-primary; }
[data-key="+"] { order: 3; @extend %key-theme-secondary; }

[data-key="4"] { order: 4; @extend %key-theme-primary; }
[data-key="5"] { order: 5; @extend %key-theme-primary; }
[data-key="6"] { order: 6; @extend %key-theme-primary; }
[data-key="-"] { order: 7; @extend %key-theme-secondary; }

[data-key="1"] { order: 8; @extend %key-theme-primary; }
[data-key="2"] { order: 9; @extend %key-theme-primary; }
[data-key="3"] { order: 10; @extend %key-theme-primary; }
[data-key="*"] { order: 11; @extend %key-theme-secondary; }

[data-key="."] { order: 12; @extend %key-theme-primary; }
[data-key="0"] { order: 13; @extend %key-theme-primary; }
[data-key="undo"] { order: 14; @extend %key-theme-primary; }
[data-key="/"] { order: 15; @extend %key-theme-secondary; }

[data-key="reset"] { order: 16; @extend %key-theme-warning; text-transform: uppercase; }

[data-key="="] {
	order: 18;
	@extend %key-theme-highlight;
	width: 75%;
	font-size: 8rem;
	font-family: sans-serif;
	@media (max-height: 300px) {
		font-size: 4rem;
	}
}